<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MovieReview Home</title>

	<link rel="stylesheet" th:href="@{../style.css}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div align="center">

            <br><br><br><br><br><br>
        <h1> Welcome in Movie Review </h1>
            	<br><br><br><br>

            <br>
    	<div class="homecard reverse d-flex flex-wrap w-full" data-th-each="movie : ${movies}">
        	<div class="reversemagic position-relative my-3 d-flex w-100 justify-content-center">
            	<div class="bgdivdad position-absolute d-flex p-3 homerounded">
		            
		        	<div class="p-0 img d-flex col-4 justify-content-center">
	                	<img class="w-100 homerounded" data-th-src="${movie[1]}"></img>
		            </div>
		            
		            <div class="col-8 pl-3 d-flex justify-content-center w-100">
		              	<div class="h-100 justify-content-between py-4 col-lg-9 bgdivmov flex-column d-flex">
			              	<div>
			              	  	<h2 class="my-5 text-light" data-th-text="${movie[0]}"></h2>
				                <p class="text-light text-ellipsis" data-th-text="${movie[2]}"></p>
			                </div>
				                
			                <div class="d-flex justify-content-center">
				                
				                <form method="POST" data-th-action="@{/like}" th:object="${film}">
				                    <input type="hidden" name="idFilm" th:value="${movie[3]}"/>
				                    <button class="btn btn-outline-light" type="submit" value="Like !"> 
				                    	<svg class="buttonlike" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
										</svg>
				                    </button>
				                </form>
				               
				                <div class="d-flex homecounter">
					            	<svg class="heart position-absolute" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="red"> 				            	
					            		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /> 				            	
					            	</svg>
				                	<p class="position-absolute text-light w-100 text-center" data-th-text="${movie[4]}"></p>
			                	</div>
				               
				                <form method="POST" data-th-action="${'/dislike/'+{movie[3]}}" data-th-object="${film}">
									<input type="hidden" name="idFilm" th:value="${movie[3]}"/>			                    
				                    <button class="btn btn-outline-danger" type="submit" value="Dislike !">
				                    	<svg class="buttonlike" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
										</svg>
				                    </button>
				                </form>
	                		</div>
                		</div>
	            	</div>
              	</div>
    		</div>
        </div>
    </div>
    <script>

		let card = document.querySelectorAll(".bgdivdad");
		for (let i = 0; i < card.length; i++)
			{

				card[i].addEventListener("onmouseenter", ()=> {
					card[i].classList.add("zindex-tooltip");
					})
				card[i].addEventListener("onmouseout", ()=> {
					card[i].classList.remove("zindex-tooltip");
					})
			}

    </script>
</body>
</html>

