<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>

    <style type="text/css">   
    
		h1 {
			font-size: 48px;
			border:groove 3px;
			width: fit-content;
			padding: 5px;
			padding-left: 20px;
			padding-right: 20px;
		}		    	

    	a {font-size: 18px}	

    </style>
    <div align="center">


            <br><br><br><br><br><br>
        <h1> Welcome in Movie Review </h1>
            <br><br><br><br><br><br>

            <br>
            <div data-th-each="movie : ${movies}">
                <u><h2 data-th-text="${movie[0]}"></h2></u>
                <img data-th-src="${movie[1]}"></img>
                <p data-th-text="${movie[2]}"></p>
                <form method="POST" data-th-action="@{/like}" data-th:object="${film}">
                    <input type="text" data-th:field="id" th:value="${movie[3]}"/>
                    <input type="text" data-th:field="likes" th:value="${movie[3]}" />
                    <br>
                    <button type="submit">Like !</button>
                </form>
                <br>
                <form method="POST" data-th-action="${'/dislike/'+{movie[3]}}">

                    <button type="submit">Dislike !</button>
                </form>
                <p>-----------------------------------------------------------------------------------------------------------------------</p>
            </div>
    </div>
</body>
</html>