@charset "ISO-8859-1";

	body {
	
		background-color: #e2d5d5!important
	
	}
	
	.bgdivdad {
	
		background-color: #8e7f7f!important;
		width: 60%;
		-webkit-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
		z-index: 8001;
		opacity: 70%;
	
	}
	
	.reverse:nth-child(even) .bgdivdad {
    
    	flex-direction: row-reverse;
	}

	.reverse:nth-child(even) .bgdivdad > .img {
    
    	flex-direction: row!important;
	}
	
	.homerounded {
	
		border-radius: 15px;
		
	}
	
	.bgdivmov {

		background-color: #8e7f7f!important
	
	}

	.text-ellipsis{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 7; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	
	.reverse:nth-child(even) .reversemagic {
			
		right: 15%!important;
		left: 0;
	}
	
	.reversemagic {
	
		left: 5%;
	
	}
	
	.homecard {
	
		height: 40vh;
		transition: all ease-in-out 500MS;


	}
	.homecard:hover{
		height: 80vh;
		transition: all ease-in-out 500MS;
	}
	.homecard:hover .bgdivdad{
		opacity: 100%;
		transition: all ease-in-out 500MS;
	}
	
	.homecounter {
	
		min-width: 35%;
		position: relative;
	
	}
	
	.homecounter > p {
	
		top: 14%;
		z-index: 8000;
	
	}
	
	h1 {
		font-size: 66px!important;
		border:groove 3px;
		width: fit-content;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;		
	}		    	

	h2 {
		font-size: 36px!important;						
		padding: 5px;
		margin-bottom: 50px;
		text-decoration: underline;
	}

   	a {font-size: 18px}	
	
	p {
		max-width: 700px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 18px;
		text-align: justify;
		line-height: 28px;
		
	}
	
	.heart {
	
		height: 65px;
		width: 65px;
		top: calc(50% - (65px / 2));
		left: calc(50% - (65px / 2));
	}
	
	/* svg {
	
		height: 65px;
		width: 65px;
		top: calc(50% - (65px / 2));
		left: calc(50% - (65px / 2));
	
	} */
	
	.buttonlike {
	
		height: 25px;
		width: 25px;		
	
	}
	