@charset "ISO-8859-1";

	body {
	
		background-color: #e2d5d5!important
	
	}
	
	.bgdivdad {
	
		background-color: #8e7f7f!important;
		max-width: 1382px;
		min-width: 1182px;
	
	}
	
	.reverse:nth-child(even) .bgdivdad {
    
    	flex-direction: row-reverse;
	}

	.reverse:nth-child(even) .bgdivdad > .img {
    
    	flex-direction: row!important;
	}
	
	.homerounded {
	
		border-radius: 15px;
		
	}
	
	.bgdivmov {
	
		background-color: #8e7f7f!important
	
	}
	
	.reverse:nth-child(even) .reversemagic {
	
		
		right: 15%!important;
		left: 0;
	}
	
	.reversemagic {
	
		left: 5%;
	
	}
	
	.homecard {
	
		height: 55vh;
	
	}
	
	.homecounter {
	
		min-width: 35%;
		position: relative;
	
	}
	
	.homecounter > p {
	
		top: 14%;
		z-index: 8000;
	
	}
	
	h1 {
		font-size: 66px!important;
		border:groove 3px;
		width: fit-content;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;		
	}		    	

	h2 {
		font-size: 36px!important;						
		padding: 5px;
		margin-bottom: 50px;
		text-decoration: underline;
	}

   	a {font-size: 18px}	
	
	p {
		max-width: 700px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 18px;
		text-align: justify;
		line-height: 28px;
		
	}
	
	.heart {
	
		height: 65px;
		width: 65px;
		top: calc(50% - (65px / 2));
		left: calc(50% - (65px / 2));
	}
	
	/* svg {
	
		height: 65px;
		width: 65px;
		top: calc(50% - (65px / 2));
		left: calc(50% - (65px / 2));
	
	} */
	
	.buttonlike {
	
		height: 25px;
		width: 25px;		
	
	}
	